<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="project.com.maktab.onlinemarket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".OnlineMarketApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".service.PollService"
            android:exported="false"></service>

        <activity
            android:name=".controller.activity.WebPageViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".controller.activity.ProductFilterActivity" />
        <activity android:name=".controller.activity.CompleteProductListActivity" />
        <activity android:name=".controller.activity.ProductsSubCategoryActivity" />
        <activity android:name=".controller.activity.CategoryViewPagerActivity" />
        <activity
            android:name=".controller.activity.ProductInfoActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity android:name=".controller.activity.MainMarketActivity" />
        <activity
            android:name=".controller.activity.StartActivity"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activity.SingleFragmentActivity" />
    </application>

</manifest>